@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
/*{
	color: #fff;
	line-height: 100px;
	background: #000;
	text-align: center;
	margin: 0;
}*/

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

 a:link {
 	text-decoration: none;
 	color: black;
 }
 a: hover {
 	text-decoration: none;
 	color: white;
 }
 a:visited {
 	text-decoration: none;
 	color: grey;
 }


/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #be0072;
	height: 20px;
	margin-right: 184px;
	margin-left: 185px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 940px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #856f79;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 0px;
	margin-left: -20px;
	margin-right: -20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
	background: url(../images/banner_cropped.jpg) repeat;

}

/*This is a flex item*/
#logo
{
	width: 200px;
	margin-top: 20px;
	margin-left: 10px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	width: 500px;
	line-height: 100px;
	background: #be0072;
	text-align: center;
	margin-left: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
}

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

/*#promoText 
{
	width: 600px;
}*/

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	margin-left: 25px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 300px;
}

.productDesc 
{
	width: 200px;
}

#mainFooter 
{
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: -20px; 
	margin-right: -20px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	background: url(../images/footer_cropped.jpg);
}

#footerNav 
{
	width: 500px;
	line-height: 100px;
	background: #be0072;
	text-align: center;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
}

#copyRight 
{
	margin-left: auto;
	width: 310px;
	margin-top: 20px;
}

/*Contact*/

#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#contentCon p 
{
	line-height: 630px;
}

#content1 
{
	width: 440px;
}

#content2 
{
	margin-left: auto;
	margin-top: 100px;
	width: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

input, textarea {
	font-size: 11px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 300px;
	height: 10px;
	background-color: #efefef;
	display: block;
	border-right: 1px solid #999;
	color: #ccc;
}
input {
	margin-left: 30px;
}

#comments {
	width:360px;
	height: 200px;
	color: black;
}

#submit {
	font-size: 14px;
	width:100px;
	text-align: center;
	height: 40px;
	margin-left: 140px;
	color: black;
	margin-bottom: 20px;
}

/*Looks Page*/

#promoImageBig
{
	width: 920px;
	margin-left: 8px;
}

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
	margin-right: 20px;
}

