@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
/*{
	color: #fff;
	line-height: 100px;
	background: #000;
	text-align: center;
	margin: 0;
}*/

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

.Head a:link 
{ 
	color: #be0072;
 	text-decoration:none; 	
}

.Head a:hover
{ 
	color: #000;
	text-decoration:none; 
}
.Head a:active
{ 
	color: #000;
	text-decoration:none; 
}

}
.Foot a:link, 
{
	color: #fff;
	text-decoration: none;
}
.Foot a:hover
{
	color: #000;
	text-decoration: none;
}
.Foot a:active
{ 
	color: #000;
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #be0072;
	height: 20px;
	margin-right: 178px;
	margin-left: 178px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 940px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #856f79;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
	background: url(../images/banner_cropped.jpg) repeat;

}

/*This is a flex item*/
#logo
{
	width: 200px;
	margin-top: 20px;
	margin-left: 10px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-top: 50px;
	margin-left: auto;
	width: 300px;
	color: #be0072;
	font-size: 16px;
}

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

/*#promoText 
{
	width: 600px;
}*/

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 300px;
}

.productDesc 
{
	width: 200px;
}

#mainFooter 
{
	margin-top: 0px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	background: url(../images/footer_cropped.jpg);
}

#footerNav 
{
	width: 500px;
	line-height: 100px;
	background: #be0072;
	text-align: center;
	margin: 0;
	font-size: 16px;
}

#copyRight 
{
	margin-left: auto;
	width: 310px;
}

/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#contentCon p 
{
	line-height: 630px;
}

#content1 
{
	width: 440px;
}

#content2 
{
	margin-left: auto;
	width: 440px;
}

/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

/*Get rid of this, here just to give different height*/
#productImages p
{
	line-height: 250px;
}

.productImg 
{
	width: 280px;
}


#contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height*/
#contentAreaBig p 
{
	line-height: 300px;
}

#promoImageBig
{
	width: 920px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

